# Build & Gradle
/build
/.gradle
/local.properties

# IDE & System
/.idea
*.iml
.DS_Store
*.log

# Android Studio Generated
/captures
/.externalNativeBuild
/.cxx
/.navigation

# Outputs
*.apk
*.aab
*.aar
output-metadata.json

# Secrets
*.jks
*.keystore
google-services.json